.main {
	background: indigo;
}
.conteiner {
	display: inline-block;
	vertical-align: top;
	width: 500px;
	height: 750px;
	border: 10px solid black;
	background: gold;
	margin-left: 10px;
	box-sizing: content-box;
}
.image {
	width: 500px;
	height: 500px;
}
.title {
	text-align: center;
	border-bottom: 10px solid black;
	font-size: 30px;
}
.text {
	font-size: 20px;
	padding: 10px;
}
